@model StoreMVC.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Заказ";
}

<h2>Заказ</h2>
<p>Введите детали доставки</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3> Доставить на</h3>
    <div class="form-group">
        <label>Имя:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
    </div>
    
    <h3>Адрес</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div>
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control"})
            </div>
        }
    }
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Упаковка
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Отправить заказ"/>
    </div>
}

